html {
    box-sizing: border-box;
    font-size: 60%;
    margin-right: 0px;
}

* {
    margin: 0%;
}

body {
    font-size: 1.6rem helvetica;

    margin-right: 0px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    background-color: #ffffff;
    top: 0;
    color: black;
    width: 100%;
    height: 5rem;
    border: .1rem black;
    margin-right: 20px;
}

.thirdheader {
    display: flex;
    justify-content: space-between;

}

.firstheader {
    display: flex;
    ;
}

.search {
    display: flex;
    align-items: center;
    background-color: rgb(240, 242, 245);
    border-radius: 1.5rem;
    padding: 0 20px;
    margin-left: 2rem;
}

input[type=search] {
    width: 100%;
    height: 1.8rem;
    padding: 12px 27px;
    margin: 8px 0;
    align-items: center;
    box-sizing: border-box;
    outline-width: 50px;
    background-color: rgb(240, 242, 245);
    border: none;
}

input::placeholder {
    font-size: 1.8rem;
}

img {
    cursor: pointer;
}

.middleheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 16%;
    margin-right: 3.5rem;
}

.pageimg:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid rgb(8, 102, 255);
}
.thirdheader{
    display: flex;
    justify-content: space-between;
    width: 17%;
    height: 4rem;
    margin-right: 3rem;
}
.friends{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    box-sizing: border-box;
    background-color: rgb(214, 217, 221);
    border-radius: 1.5rem;
    padding: 0 13px;
    font-weight: 500;
    margin-top: 5px;
}